:root {
    --primary-color: #e50914;
    --primary-hover-color: #c11119;
    --sec-color: #212529;
    --color-white: #fff;
}

 body{
    position:relative;
    min-height: 100vh;
}

body::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(360deg,
            rgba(0, 0, 0, 0.85)3%,
            rgba(0, 0, 0, 0.8465)11.08%,
            rgba(0, 0, 0, 0.8361)19.17%,
            rgba(0, 0, 0, 0.8187)27.25%,
            rgba(0, 0, 0, 0.7944)35.33%,
            rgba(0, 0, 0, 0.7632)43.42%,
            rgba(0, 0, 0, 0.725)51.5%,
            rgba(0, 0, 0, 0.6868)59.58%,
            rgba(0, 0, 0, 0.6556)67.67%,
            rgba(0, 0, 0, 0.6313)75.75%,
            rgba(0, 0, 0, 0.6139)83.83%,
            rgba(0, 0, 0, 0.6035)91.92%,
            rgba(0, 0, 0, 0.6)100%), url(../img/imgBack.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    filter: blur(3px);
    z-index: -1;
}

.logo{
    width:170px;
    display: inline-block;
}

.logo img{
    width:100%;
}

.nfx-pri-Btn{
    background-color: var(--primary-color);
    color:var( --color-white)
}

.nfx-sec-Btn{
    background-color: var(--sec-color);
    color:var( --color-white)!important; 
}

.nfx-pri-Btn:is(:hover, :active, :focus){
    background-color: var(--primary-hover-color);
    color:var( --color-white)
}

.closeBtn{
    cursor: pointer;
}

.movie-card{
    background-color: rgba(0, 0, 0, 0.6);
}

.movie-card h2{
    height:40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 28px;
    margin:0;
}

.movie-card figure{
    height: 200px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

figure img{
    height: 100%;
    width:100%;
    object-fit: cover;
  }

.movie-card figcaption{
    position:absolute;
    top:30%;
    left:0;
    height: 70%;
    padding:20px;
     width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y: auto;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: translateY(120px);
}

.movie-card:is(:hover, :active, :focus) figcaption{
     transform: translateY(0%);
    opacity: 1;
}

.movieModel{
    position: fixed;
    top:15%;
    left:20%;
    width:60%;
    display: none;
    animation: movieM .3s ease-in-out;
}

.backDrop{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    animation: backD .4s ease-in-out;
    
}

.movieModel.active ,.backDrop.active{
    display: block;
}

@keyframes movieM{
    from{
        transform: translateY(-25px);
    }
    to{
        transform: translateY(0px);
    }
}


@keyframes backD {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}


